<!--
 * @Author: YeWei Wang
 * @Date: 2021-12-17 21:49:16
 * @WeChat: Studio06k4
 * @Motto: 求知若渴，虚心若愚
 * @Description: 
 * @LastEditTime: 2021-12-21 15:54:11
 * @Version: vue3后台管理系统
 * @FilePath: \vue3-management-system\src\pages\sign\components\agreement.html
 * @Autor: YeWei Wang
-->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>用户注册协议与隐私政策</title>
</head>

<body>
  <div>
    <includetail>
      <div align="center">
        <div style="margin-left: 8px; margin-top: 8px; margin-bottom: 8px; margin-right: 8px;">
          <div>
            <br>
            <span>
              <div style="word-break: break-all;box-sizing:border-box;text-align:center;min-width:320px; max-width:660px; border:1px solid #f6f6f6; background-color:#f7f8fa; margin:auto; padding:20px 0 30px; font-family:'helvetica neue',PingFangSC-Light,arial,'hiragino sans gb','microsoft yahei ui','microsoft yahei',simsun,sans-serif">
                <div>
                  <table style="width:100%;font-weight:300;margin-bottom:10px;border-collapse:collapse">
                    <tbody>
                      <tr style="font-weight:300">
                        <td style="width:3%;max-width:30px;"></td>
                        <td style="max-width:600px;">

                          <div style="width:92px; height:25px;">

                            <a href="https://06k4.com" style="text-decoration: none; color: #393939;">
                              06K4 Studio
                            </a>
                          </div>

                          <p
                             style="height:2px;background-color: #e0415e;border: 0;font-size:0;padding:0;width:100%;margin-top:20px;">
                          </p>

                          <div style="background-color:#fff; padding:23px 0 20px;box-shadow: 0px 1px 1px 0px rgba(122, 55, 55, 0.2);text-align:left; position: relative;">
                            <table
                                   style="width:100%;font-weight:300;margin-bottom:10px;border-collapse:collapse;text-align:left;">
                              <tbody>

                                <tr style="font-weight:300">

                                  <td style="width:3.2%;max-width:30px;"></td>

                                  <td style="max-width:480px;text-align:left;">

                                    <h1 style="font-size: 20px; line-height: 36px; margin: 0px 0px 22px;">
                                      用户注册协议与隐私政策
                                    </h1>

                                    <p style="font-size:14px;color:#333; line-height:24px; margin:0;">
                                      欢迎您来到06K4 Studio后台管理系统。
                                    </p>

                                    <p style="line-height: 24px; margin: 6px 0px 0px; overflow-wrap: break-word; word-break: break-all;">
                                      <span style="color: rgb(51, 51, 51); font-size: 14px;">
                                        请您仔细阅读以下条款，如果您对本协议的任何条款表示异议，您可以选择不进入06K4。当您注册成功后，无论是进入06K4，还是在06K4上发布任何内容（即「内容」），均意味着您（以下称为「用户」，包括但不限于浏览用户、个人作者、组织机构等）完全接受本协议项下的全部条款。
                                      </span>
                                    </p>

                                    <p style="line-height: 24px; margin: 6px 0px 0px; overflow-wrap: break-word; word-break: break-all;">
                                      <span style="color: rgb(51, 51, 51); font-size: 14px;">
                                        ————总则
                                      </span>
                                    </p>

                                    <p style="line-height: 24px; margin: 6px 0px 0px; overflow-wrap: break-word; word-break: break-all;">
                                      <span style="color: rgb(51, 51, 51); font-size: 14px;">
                                        如用户完成注册程序，即表示用户与06K4（包括且不限于网站、手机应用等多平台）就其所提供的服务达成协议，自愿接受本服务协议的所有内容。此后，用户不得以未阅读本服务协议内容为由进行任何形式的抗辩。用户注册成功后，06K4将给予每个用户一个用户账号及对应的密码，该用户账号和密码由用户自己负责保管；用户应当对以其用户账号进行的所有活动和发表的全部内容承担法律责任。
                                      </span>
                                    </p>

                                    <p style="font-size:14px;color:#333; line-height:24px; margin:0;">
                                      一，使用规则
                                    </p>

                                    <p style="font-size:14px;color:#333; line-height:24px; margin:0;">
                                      1.1 用户须对其在06K4的注册信息的真实性、合法性、有效性承担责任。用户不得以任何方式(包括但不限于冒用他人姓名/其他组织机构名称、头像、昵称等）冒充他人或其他组织机构；不得利用他人、其他组织机构的名义发布任何信息；不得恶意使用注册账户导致其他用户将其误认为他人或其他组织机构。如用户违反前述约定，06K4有权随时终止对该用户提供服务、收回其账号，并由该用户独立承担由此而产生的一切法律责任。
                                    </p>

                                    <p style="font-size:14px;color:#333; line-height:24px; margin:0;">
                                      1.2 为更好地保护个人用户及组织机构在06K4上的合法权益，用户注册成功后，可进入06K4站内“个人主页”补充完善真实的个人信息，包括但不限于姓名、手机、邮箱、微信账户、企业信息。
                                    </p>

                                    <p style="font-size:14px;color:#333; line-height:24px; margin:0;">
                                      1.3 06K4后台管理系统是一个06K4官方网站资讯信息分享、传播、获取及交流的后台系统，用户通过06K4发布的信息（包括公告发布、及使用06k4后台管理系统相应内容、技术服务等）为公开的信息，其他第三方均可以通过06K4获知用户发表的公告，用户对任何信息的发布即承认该信息是公开的信息，并独立对此行为承担法律责任；任何用户不愿被其他第三方获知的信息都不应该在06K4官网上进行发布。用户向06K4发布的信息，应当视为同意06K4有权对其内容进行相应的处理（包括但不限于删减、编辑、修改、翻译、改编、加注或配图等）。
                                    </p>
                                    <p style="font-size:14px;color:#333; line-height:24px; margin:0;">
                                      1.4 用户承诺不得以任何方式利用06K4直接或间接从事违反中国法律、法规以及社会公德的行为，06K4有权对违反上述承诺的内容予以删除，并删除其账户。
                                    </p>
                                    <p style="font-size:14px;color:#333; line-height:24px; margin:0;">
                                      1.5 用户同意将不会利用06K4提供的服务制作、发布或以其他方式传送含有下列内容之一的信息：
                                    </p>
                                    <p style="font-size:14px;color:#333; line-height:24px; margin:0;">
                                      * 反对宪法所确定的基本原则的；
                                    </p>
                                    <p style="font-size:14px;color:#333; line-height:24px; margin:0;">
                                      * 危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；
                                    </p>
                                    <p style="font-size:14px;color:#333; line-height:24px; margin:0;">
                                      * 损害国家荣誉和利益的；
                                    </p>
                                    <p style="font-size:14px;color:#333; line-height:24px; margin:0;">
                                      * 煽动民族仇恨、民族歧视，破坏民族团结的；
                                    </p>
                                    <p style="font-size:14px;color:#333; line-height:24px; margin:0;">
                                      * 破坏国家宗教政策，宣扬邪教和封建迷信的；
                                    </p>
                                    <p style="font-size:14px;color:#333; line-height:24px; margin:0;">
                                      * 散布谣言，扰乱社会秩序，破坏社会稳定的；
                                    </p>
                                    <p style="font-size:14px;color:#333; line-height:24px; margin:0;">
                                      * 散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；
                                    </p>
                                    <p style="font-size:14px;color:#333; line-height:24px; margin:0;">
                                      * 侮辱或者诽谤他人，侵害他人合法权益的；
                                    </p>
                                    <p style="font-size:14px;color:#333; line-height:24px; margin:0;">
                                      * 含有中国法律法规以及其他任何具有法律效力之规范所限制或禁止的其他内容的；
                                    </p>
                                    <p style="font-size:14px;color:#333; line-height:24px; margin:0;">
                                      * 含有06K4认为不适合在06K4上展示的内容。
                                    </p>
                                    <p style="font-size:14px;color:#333; line-height:24px; margin:0;">
                                      1.6 06K4有权对用户使用06K4的情况进行审查和监督，如用户在使用06K4时违反任何上述规定，06K4或其授权的人有权要求用户改正或直接采取一切必要的措施（包括但不限于更改或删除用户张贴的内容、暂停或终止用户使用06K4发布或参与内容获取与交流的权利，以及删除用户账号）以减轻用户不当行为造成的影响。
                                    </p>

                                    <p style="font-size:14px;color:#333; line-height:24px; margin:0;">
                                      二、免责声明
                                    </p>

                                    <p style="font-size:14px;color:#333; line-height:24px; margin:0;">
                                      2.1 作为个性化的资讯信息公示及提供对06K4网站的技术服务，06K4有权但无义务对用户发布的内容进行审核。
                                    </p>
                                    <!-- 
                                      <p style="font-size:14px;color:#333; line-height:24px; margin:0;">
                                      一，使用规则
                                    </p> 
                                     <p style="font-size:14px;color:#333; line-height:24px; margin:0;">
                                      一，使用规则
                                    </p>  <p style="font-size:14px;color:#333; line-height:24px; margin:0;">
                                      一，使用规则
                                    </p>  <p style="font-size:14px;color:#333; line-height:24px; margin:0;">
                                      一，使用规则
                                    </p> -->
                                    <!-- 
                                    <p class="cTMail-content"
                                      style="line-height: 24px; margin: 6px 0px 0px; overflow-wrap: break-word; word-break: break-all;">
                                      <span style="color: rgb(51, 51, 51); font-size: 14px;">您的邮箱验证码为：
                                        <span style="font-weight: bold;">非本人操作可忽略。</span>
                                      </span>
                                    </p>
  
               
                                    <p class="cTMail-content"
                                      style="font-size: 14px; color: rgb(51, 51, 51); line-height: 24px; margin: 6px 0px 0px; word-wrap: break-word; word-break: break-all;">
                                     
                                     <div style="width: 230px;height: 45px;background-color: #e0415e; margin: 0 auto;line-height: 45px; color: #ffffff; font-size: 24px; font-weight: bold;text-align: center;letter-spacing: 4px;border-radius: 6px;cursor: pointer;">034567</div>
                                    </p>
  
                                    <p class="cTMail-content"
                                      style="line-height: 24px; margin: 6px 0px 0px; overflow-wrap: break-word; word-break: break-all;">
                                      <span style="color: rgb(51, 51, 51); font-size: 14px;">
                                        <br>
                                        该验证码5分钟内有效
                                        <br>
                                         <a href="" title=""
                                          style="color: rgb(0, 164, 255); text-decoration: none; word-break: break-all; overflow-wrap: normal; font-size: 14px;">
                                          这里是激活账号的链接
                                        </a> -->
                                    <!-- </span>
                                    </p> -->


                                    <dl style="font-size: 14px; color: rgb(51, 51, 51); line-height: 18px;">
                                      <dd style="margin: 0px 0px 6px; padding: 0px; font-size: 12px; line-height: 22px;">
                                        <p id="cTMail-sender"
                                           style="font-size: 14px; line-height: 26px; word-wrap: break-word; word-break: break-all; margin-top: 32px;">
                                          此致
                                          <br>
                                          <strong>06K4团队</strong>
                                        </p>
                                      </dd>
                                    </dl>
                                  </td>
                                  <img src="http://192.168.146.1:3005/qrcode/yinzhang.png" alt="" style="width: 350px; position: absolute; bottom: 0; right: -10%; transform: rotate(-160deg);filter: brightness(200%);">
                                  <td style="width:3.2%;max-width:30px;"></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>


                          <div id="cTMail-copy" style="text-align:center; font-size:12px; line-height:18px; color:#999">
                            <table style="width:100%;font-weight:300;margin-bottom:10px;border-collapse:collapse">
                              <tbody>
                                <tr style="font-weight:300">

                                  <td style="width:3.2%;max-width:30px;"></td>

                                  <td style="max-width:540px;">

                                    <!-- <p style="text-align:center; margin:20px auto 14px auto;font-size:12px;color:#999;">
                                      此为系统邮件，请勿回复。
                                  
                                    
                                    </p> -->


                                    <p id="cTMail-rights"
                                       style="max-width: 100%; margin:auto;font-size:12px;color:#999;text-align:center;line-height:22px;">
                                      <img
                                           src="https://qr.api.cli.im/newqr/create?data=https%253A%252F%252F06k4.com&level=H&transparent=0&bgcolor=%23FFFFFF&forecolor=%23000&blockpixel=12&marginblock=2&logourl=https%3A%2F%2Fncstatic.clewm.net%2Frsrc%2F2021%2F1207%2F23%2Fc8a4ad0b9f07a07082fd0a3e16379006.jpg&logoshape=no&size=400&embed_text_fontfamily=simhei.ttc&eye_use_fore=&background=images%2Fbackground%2Fbg25.png&wper=0.84&hper=0.84&tper=0.08&lper=0.08&qrcode_eyes=pin-3.png&outcolor=&incolor=%231694e3&body_type=0&qr_rotate=0&text=&fontfamily=msyh.ttf&fontsize=30&fontcolor=&logo_pos=0&kid=cliim&key=5442f133e5ad068ecf9941102bc2455d"
                                           style="width:64px; height:64px; margin:0 auto;">
                                      <br>
                                      进入官网，了解更多。
                                      <br>

                                      <div style="color: #999; text-align: center; font-weight: lighter; font-size: 13px;">
                                        ©2019-2021 06k4 Studio. All right reserved. <br>
                                        ©2019-2021 攀枝花市东区零六克斯工作室 版权所有<br>
                                        蜀ICP备 2021030366 号
                                      </div>
                                    </p>
                                  </td>

                                  <td style="width:3.2%;max-width:30px;"></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </td>
                        <td style="width:3%;max-width:30px;"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </span>

          </div>
        </div>
      </div>
    </includetail>
  </div>
</body>

</html>